/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mello-block-counter.is-layout-flex {
	font-size: 1em;
	gap: .5rem;

	*{
		margin-block-start: unset;
		margin-block-end: unset;
	}
	
	// .wp-block-mello-block-counter__description{
	// 	border: solid purple 5px;
	// }

	.wp-block-mello-block-counter__figure-wrapper{
		gap: .5rem;
		line-height: 1;
		font-size: 3em;
	}

	// .wp-block-mello-block-counter__metric, .wp-block-mello-block-counter__figure{
	// 	line-height: 1;
	// 	font-size: 3em;
	// }
}