.mello-modal__overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 75%);
  display: none;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  &.mello-modal--active {
    display: flex;
    visibility: visible;
  }
}

.mello-modal__content {
  padding: unset;
  max-width: 90%;
  max-height: 90vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;

  iframe,
  video {
    width: 90svw;
    max-height: 90vh;
    aspect-ratio: 16/9;
    padding: 0;
    margin: 0;
  }
}

.mello-modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  gap: .5em;

  svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
  }
}