/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mello-block-swiper {
	.swiper-wrapper {
		overflow-x: scroll;
		display: flex;
	}

	.swiper-wrapper>* {
		flex-shrink: 0;
		width: auto;
	}

	.swiper-pagination {
		width: 100%;

		&::before {
			content: "Toggle pagination on / off the front end in navigation settings";
			background-color: #f1f1f1;
			color: black;
			min-width: 100%;
			display: block;
			padding: .5rem;
			text-align: center;
			font-size: .75rem;
			border: solid currentColor 1px;
		}

		.block-list-appender,
		.components-placeholder {
			display: none;
			visibility: hidden;
		}
	}

	.swiper-scrollbar {
		&::before {
			content: "Toggle scrollbar on / off the front end in navigation settings";
			background-color: #f1f1f1;
			color: black;
			min-width: 100%;
			display: block;
			padding: .5rem;
			text-align: center;
			font-size: .75rem;
			border: solid currentColor 1px;
		}

		.block-list-appender,
		.components-placeholder {
			display: none;
			visibility: hidden;
		}
	}
}

.wp-block-mello-block-swiper {
	.swiper-wrapper {
		display: grid;
		grid-auto-flow: column;
		/* each track = (100% – total gaps) ÷ number of slides */
		grid-auto-columns: calc((100% - (var(--swiper-space-between, 0px) * (var(--swiper-spv, 1) - 1))) / var(--swiper-spv, 1));
		gap: var(--swiper-space-between, 0px);
		overflow-x: auto;
	}
}

.wp-block-mello-block-swiper .swiper-wrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-auto-flow: column;
	/* each track = (100% – total gaps) ÷ number of slides */
	grid-auto-columns: calc((100% - (var(--swiper-space-between, var(--wp--preset--spacing--large)) * (var(--swiper-spv, 1) - 1))) / var(--swiper-spv, 1));
	row-gap: var(--swiper-space-between, var(--wp--preset--spacing--large));
	overflow-x: auto;
}

.wp-block-mello-block-swiper[data-swiper-direction="vertical"] .swiper-wrapper {
	display: grid!important;
	grid-template-columns: 1fr;
	grid-auto-flow: row;
	/* each track = (100% – total gaps) ÷ number of slides */
	grid-auto-rows: calc((100% - (var(--swiper-space-between, var(--wp--preset--spacing--large)) * (var(--swiper-spv, 1) - 1))) / var(--swiper-spv, 1));
	column-gap: var(--swiper-space-between, var(--wp--preset--spacing--large));
	overflow-y: auto;
}

.wp-block-mello-block-swiper[data-swiper-slides-per-view-auto="true"] .swiper-wrapper {
	display: flex;

	>* {
		min-width: fit-content !important;
	}

}

.wp-block-mello-block-swiper .wp-block-post-template .wp-block-post {
	margin-block-start: 0;
}