// Import Swiper core and all component styles
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import 'swiper/css/autoplay';
@import 'swiper/css/effect-fade';
@import 'swiper/css/free-mode';
@import 'swiper/css/mousewheel';

.wp-block-mello-block-swiper {
    --swiper-navigation-size: var(--wp--preset--font-size--medium);
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: var(--wp--preset--color--primary);

    --swiper-pagination-color: var(--wp--preset--color--primary);
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: var(--wp--preset--color--tertiary);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: var(--wp--preset--color--tertiary);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 0;
    --swiper-pagination-bullet-vertical-gap: 0;
    
    // Navigation - buttons

    .swiper-navigation, .wp-block-buttons:has( > .swiper-button-next){
        display: none;
        visibility: hidden;

        .wp-block-button__link{
            height: auto;
        }
    }

    .swiper-button-next, .swiper-button-prev{
        display: inline;
        margin-block-start: unset;
        position: unset;
        inset: 0;
        min-height: fit-content;
        min-width: fit-content;
        font-family: swiper-icons;

        &::after{ // hide swiper JS icons. Content is set in the editor.
            display: none;
            visibility: hidden;
            font-size: inherit;
        }
    }
    &[data-swiper-navigation="true"]{
        .swiper-navigation, .wp-block-buttons:has( > .swiper-button-next){
            display: flex;
            visibility: visible;
        }
    }

    // Navigation - Scrollbar

    .swiper-scrollbar{
        display: none;
        visibility: hidden;

        .swiper-scrollbar-drag{
            margin: unset!important;
        }
    }
    &[data-swiper-scrollbar="true"] .swiper-scrollbar{
        display: inline-block;
        visibility: visible;
        position: relative;
        inset: 0;
        width: 100%;
    }

    // Navigation - Pagination

    .swiper-pagination{
        display: none;
        visibility: hidden;
        gap: var(--wp--preset--spacing--small);
        position: unset;
    }
    &[data-swiper-pagination="true"] .swiper-pagination{
        display: inline-block;
        visibility: visible;
    }

    //remove transition for autoplay delay 0

    &[data-swiper-autoplay-delay="0"] .swiper-wrapper{
        transition-timing-function: linear;
    }

    //shrink slides to fit content of auto-fit slides

    &[data-swiper-slides-per-view-auto="true"] .swiper-wrapper > * {
        flex-shrink: 1;
        min-width: fit-content;
    }

}