:root {
    --mello-primary: #00D9FF;
    --mello-base: #0F1421;
    --mello-contrast: #ffffff;
    --mello-gray: #747474;
    --mello-radius-small: 3px;
    --mello-radius-med: 5px;
    --mello-spacing-small: 15px;
    --mello-spacing-med: 25px;
    --mello-spacing-large: 50px;
    --mello-font-small: .9em;
    --mello-font-med: 1em;
    --mello-font-large: 1.3em;
    --mello-font-x-large: 2em;
    --mello-font-xx-large: 3.5em;
    --mello-switch-bg: #ededed;
    --mello-switch-active: var(--mello-base);
    --mello-speed-fast: .25s;
    --mello-speed-medium: .4s;
    --mello-speed-slow: .5s;
    --mello-ease-circ: cubic-bezier(0.16, 1, 0.3, 1);
}

/* #wpcontent{
    background-color: var(--mello-base);
} */

.mello-header-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--mello-spacing-large);
    background: var(--mello-base);
    min-height: 200px;
    padding: var(--mello-spacing-med);
    border-radius: var(--mello-radius-med);
    position: relative;
    overflow: clip;
}

.mello-header-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--mello-spacing-small);
    max-width: 550px;
    z-index: +1;
}

.wrap{
    margin: 20px 20px 0 2px;
    display: flex;
    flex-direction: column;
    gap: var(--mello-spacing-large);
}

.wrap .mello-heading{
    font-size: var(--mello-font-xx-large);
    color: var(--mello-contrast);
    font-weight: bold;
}

.mello-intro{
    font-size: var(--mello-font-large);
    margin: 0;
    color: var(--mello-contrast);
}

.mello-header-content-wrapper p:not(#setting-error-settings_updated p){
    margin: 0;
    color: var(--mello-contrast);
}

.mello-header-content-wrapper a{
    color: var(--mello-primary);
    text-decoration: none;
}

.mello-meta-block{
    display: flex;
    gap: 1em;
}

.mello-script{
    position: absolute;
    inset: -11% -3% -1% auto;
    height: 140%;
    width: auto;
    opacity: .2;
}

.mello-extension-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--mello-spacing-med);
}

.mello-extension-group {
    margin-top: 1em;
    grid-column: 1 / -1;
    padding: 0 var(--mello-spacing-med);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: calc( var(--mello-spacing-small) / 2);
}
.mello-extension-group * {
    margin: 0;
}
.mello-extension-type-heading{
    font-size: var(--mello-font-x-large);
    margin-bottom: var(--mello-spacing-small);
}

.title-wrapper{
    border: solid pnk 3px;
}

#mello-extension-filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: .5em;
    margin-top: .5em;
    font-weight: bold;;
}

button.mello-filter{
    border-radius: unset;
    border: solid 2px var(--mello-base);
    padding: calc(var(--mello-spacing-small) / 2) var(--mello-spacing-small);
}

button.mello-filter.active{
    background-color: var(--mello-primary);
    border-color: var(--mello-primary);
}

.mello-extension-section{
    display: flex;
    flex-direction: column;
    gap: var(--mello-spacing-small);
    border-radius: var(--mello-radius-med);
    padding: var(--mello-spacing-med);
    background-color: var(--mello-contrast);
    color: var(--mello-base)
}

p.mello-extension-category{
    font-size: 75%;
    border-radius: var(--mello-radius-small);
    margin: 0;
    padding: .15em .4em;
    border: solid 1px var(--mello-gray);
    width: fit-content;
}

.mello-extension-header{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--mello-spacing-small);
    width: 100%;
}

.mello-extension-title{
    color: var(--mello-base);
    font-size: var(--mello-font-large);
    margin: 0;
}

.mello-extension-description{
    margin: 0;
    font-size: var(--mello-font-small);
}

.mello-switch {
    position: relative;
    display: inline-block;
    min-width: 50px;
    height: 24px;
}

.mello-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.mello-slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: var(--mello-switch-bg);
    transition: var(--mello-speed-fast) ;
    border-radius: 24px;
}

.mello-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: var(--mello-base);
    transition: var(--mello-speed-medium) var(--mello-ease-circ);
    border-radius: 50%;
}

.mello-switch input:checked + .mello-slider {
    background-color: var(--mello-switch-active);
}

.mello-switch input:checked + .mello-slider:before {
    transform: translateX(26px);
    background-color: var(--mello-primary);
}

.mello-extension-section:not(:has(.mello-switch input:checked)){
    opacity: .6;
}

.wp-core-ui .button-primary{
    padding: 10px 20px;
    background-color: var(--mello-base);
    border: unset;
    border-radius: unset;
    font-weight: bold;
    transition: var(--mello-speed-slow) var(--mello-ease-circ);
}

.wp-core-ui .button-primary:hover{
    background-color: var(--mello-primary);
    color: var(--mello-base);
}