// .mello-modal-fullscreen {
// }

// help icon placement

.components-toggle-control__label:has(>.mello-help-icon) {
    display: flex;
    align-items: center;
    gap: .25em;
}

.mello-help-icon {
    display: inline-flex;
    cursor: help;
}

// custom animation modal styles

div:has(>.mello-animation-config-inner) {
    display: contents;
}

.mello-animation-config-button {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.mello-animation-config-summary {
    display: flex;
}

svg {
    height: 1.4em;
}

.mello-animation-config-inner {
    display: grid;
    grid-template-rows: auto 1fr auto; // header / body / footer
    height: 100%;

    .mello-animation-config-body {
        display: grid;
        grid-template-columns: 360px 1fr;
        gap: 20px;
        padding: 20px;
        min-height: 0; // allow children to scroll
        overflow: auto;

        @media (max-width: 782px) {
            grid-template-columns: 1fr;

            .mello-animation-config-help {
                display: none;
            }
        }
    }

    .mello-animation-config-footer {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        padding: 12px 20px;
        border-top: 1px solid #e0e0e0;
        background: #fafafa;
    }
}