.wp-block-button.has-custom-icon{
  .wp-block-button__link{
    display: flex;
    gap: .5em;
    flex-wrap: nowrap;
  }

  .mello-button-icon__wrapper{
    align-content: center;
  }

  .mello-button-icon__fa-icon {
    font-family: var(--wp--preset--font-family--icon);
    font-weight: inherit;
    display: inline-block;
    vertical-align: middle;
  }

  .mello-button-icon__img-icon{
    max-width: 50px;
  }

  .mello-button-icon__button-text{
        align-content: center;
  }
}