/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-block-theme-cursor.cursor-wrapper:not(
		body.editor-styles-wrapper .wp-block-block-theme-cursor,
		body.block-editor-page .wp-block-block-theme-cursor
	) {
	position: fixed;
	inset: 0;
	z-index: 9999999;
	pointer-events: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: unset;
	mix-blend-mode: difference;


	// @include for-phone-only {
	// 	@include always-visually-hidden();
	// }

	* {
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-start: 0;
		margin-inline-end: 0;
	}

	.cursor-location {
		width: 127px;
		height: 127px;
		color: pink;

		.cursor-decoration {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: solid pink 3px;
			scale: 0.4;

			transition:
				scale 0.25s ease-out,
				background-color 0.25s ease-out;
			p {
				width: 100%;
				height: 100%;
				animation: cursor-rotate 30s infinite linear;
				visibility: hidden;
				scale: 0;

				transition:
				scale 0.25s ease-out;
			}
			.word {
				display: unset;
			}
			.char {
				--i: calc(100% / (var(--char-total) + 1));
				position: absolute !important;
				offset-path: path(
					"M120,60c0,33.14-26.86,60-60,60S0,93.14,0,60,26.86,0,60,0c18.49,0,35.02,8.36,46.03,21.51,8.72,10.42,13.97,23.84,13.97,38.49Z"
				);
				offset-distance: calc(var(--i) * var(--char-index));
				/*  offset-anchor: top; FF only */
				padding-top: 10px;
				font-weight: 400;
				font-size: 90%;
				text-transform: uppercase;
			}
		}

		&.cursor__hover .cursor-decoration {
			scale: 0.6;
			border-width: 0;

			p {
				visibility: visible;
				scale: 1.1;
			}
		}

		&.cursor__active,
		&.cursor__click {
			.cursor-decoration {
				scale: 0.2;
				background-color: pink;
				border-width: 0;
			}
		}
	}
}

@keyframes cursor-rotate {
	to {
		rotate: -360deg;
	}
}
