// Vimeo or Youtube URL used as a background

.wp-block-cover__video-background__external {
    position: absolute;
    inset: 0;
    pointer-events: none;

    iframe {
        box-sizing: border-box;
        width: 100%!important;
        height: 100%!important;
        position: absolute;
        top: 0;
        left: 0;
    }
}